@import 'null.scss';
@import 'colors.scss';
@import 'unselectable.scss';
@import 'show-hide.scss';

body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px; 
    background-color: $darkGray;   
}
.wrapper{
    display: flex;
    justify-content: center;   
}
.form{
    margin: 60px 0;
    height: 500px;
    width: 700px;
    border-radius:5px;
    background-color:$gray;
}

.err-place{
    cursor: default;
    display: flex;
    transition: opacity 0.3s;
    padding: 0 10px;
    justify-content:space-between;
    align-items: center;
    height: 50px;
    border-radius: 5px 5px 0 0;
    color: $crimson;
    width: 100%;
    background-color: rgba(249, 252, 201, 0.8);
    font-size: 20px;    
}
.err-cover{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    &.err-sing{
        display: flex;
        height: 30px;
        width: 30px;
        background-color: $crimson;
        border-radius: 50%;
        
        span{
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
        } 
    }
    #err-text{
        padding: 0 0 0 10px;    
    } 
}
.err-close{
    color:$crimson;
    display: flex;
    font-size: 20px;
    cursor: pointer;
}

.row{
    display: flex;
    margin: 20px 30px;
    align-items:center;
    span{
        width: 230px;
        padding: 0 0 0 60px;
        color: $coral;  
        cursor: default;  
    }
}
.inp{
    height: 35px;
    width: 200px;
    margin: 0 0 0 100px;
    color: $coral;
    border-radius: 3px;
    font-size: 18px;
    background-color: $darkGray;
}
#inp-eve{
    padding-left: 5px;
}

.selectCheckboxWrapper {
    position: relative;
    display: flex;
    label {
        width: 150px;
        font-weight: bold;
        }
}
.selectPlace {   
    width: 200px;
    padding: 8px 0 0 0;    
}
.che-usr{
    margin: 3px 5px 3px 5px;
    align-items: center;
}
.lab-che{
    background-color: $darkGray;
}
#text-team{
    cursor: default;
    color: $coral;
    padding: 0 3px;
    font-size: 18px;
    background-color: $darkGray;    
}
#checkboxes {
    width: 100%;
    transition:  background-color 0.2s linear;
    margin-top: 5px;
    position: relative;
    z-index: 2;
    label {
        display: flex;
        width: 100%;
        border: 5px solid $darkGray;
        height: 30px;
        align-items: center;
        &:hover {
            background-color: $coral;
            color: $darkGray;
            }
        }
}

.select{
    position: relative;
    margin-left: 100px;
    
    select{
        display: block;
        padding: 0 5px ;
        border: 0;
        -webkit-appearance: none;
        appearance: none;
        font-family: inherit;
        font-size: 18px;
        color: $coral;
        background-color: $darkGray;
        border-radius: 3px;
        width: 200px;
        height: 35px;
    }
}
.arrow{
    width: 0;
    left: 185px;
    height: 0;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: #ff7f50 transparent transparent transparent;
    position: absolute;
    top: 40%;
    pointer-events: none;
    z-index: 0;
}

.btns{
    display:flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 160px;  
    margin-right: 10px;  
}
.last{
    display:flex;
}
.btn{
    height: 50px;
    margin: 0 20px 0 0;
    width: 50px;
    border-radius: 50%;    
    background-color: $gray;
    transition: 0.2s box-shadow;
    box-shadow: 0 2px 8px 1px rgb(20, 20, 20);
    &#submit{
        color: $poleGreen;
        font-size: 45px;   
    }
    &#back{
        color: $coral;
        font-size: 30px;
    }       
    &:active{
        box-shadow: inset 0px 0px 2px rgb(20, 20, 20);
        background-color: $gray;
        
    }
}
